<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
		<add name="empconn" connectionString="data source =Developer;initial catalog=EIS;user id=sa;password=12345" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
